

.form{
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn{
  background-color:rgb(75, 148, 75);
  border-style: nonne;
  border-radius: 6px;
  padding: 10px;
  color: white;
  margin-left: 5px;
}
.inp{
  border-radius: 6px;
  border-style: none;
  
}
.Outerdiv{
  
  display: flex;
  justify-content: space-around;
}


.InnerDiv {
  border: 1px solid black;
  border-radius: 6px;
  width: 100%;
  margin-top: 50px;                 /* Adds a 50px margin at the top */
  margin-left: 5px;                 /* Adds a 5px margin to the left */
  margin-right: 5px;                /* Adds a 5px margin to the right */
  margin-bottom: 5px;               /* Adds a 5px margin to the bottom */
  display: flex;                    /* Sets up the element as a flex container */
  flex-direction: row;              /* Aligns child elements (the <p> tags) in a row */
  justify-content: space-between;   /* Distributes space between the <p> tags evenly */
  align-items: center;              /* Aligns the <p> tags vertically in the center */
  padding: 5px;
  font-size: medium;
}
