.form {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.btn {
  background-color: rgb(75, 148, 75);
  border-style: none;
  border-radius: 6px;
  padding: 10px;
  color: white;
  margin-left: 5px;
}

.inp {
  border-radius: 6px;
  border-style: none;
}

.weather-cards {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.weather-card {
  border: 1px solid black;
  border-radius: 6px;
  margin: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  font-size: medium;
}
